[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
django = "*"
psycopg2-binary = "*"
dj-database-url = "*"
djangorestframework = "*"
plotly = "*"
pandas = "*"
python-dotenv = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
