<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="icon" type="image/png"
        href="https://imgs.search.brave.com/wBwQ3Z6rAXw-zOIE-rwyax5cLOZi5ueJEDOGYFAE7yc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTQ5/MTQ4OTE1Mi92ZWN0/b3IvY2FyLXNpZ252/ZWN0b3IuanBnP3M9/NjEyeDYxMiZ3PTAm/az0yMCZjPWJhN3VL/c18yNmpJX2lraVM0/MU9uendPNW8ybUQx/bDhDMlRsdkRvc2Zt/Yk09">
    <title>GDMFX</title>

</head>


<body>
    <!--Here we go over the navbar section-->


    {% block content%}
    {% endblock%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>