{%extends 'base.html'%}


{%block content%}
<h1>LEADS</h1>

<div class="row">
    <div class="col">
        <ul>
            <li class=" d-flex align-items-center">
                <strong style="min-width: 200px;">NAME</strong>
                <strong class="ms-5" style="margin-left: 0 !important;">STATUS</strong>
                <strong style="margin-left:780px ;">DATE</strong>
            </li>
        </ul>
    </div>
</div>

{% for lead in leads%}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <ul class="list-group">
                <a href="{%url 'show_details' lead.id%}">
                    <li class="list-group-item d-flex align-items-center">
                        <strong class=" p-2" style="min-width: 200px;">{{lead.name}}</strong>
                        <strong class="ms-5 p-2" style="margin-left: 0 !important;">{{lead.status}}</strong>
                        <strong class="ms-auto p-2 b-0">{{lead.contact_date}}</strong>

                    </li>
                </a>
            </ul>
        </div>
    </div>
</div>
{%endfor%}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item disabled">
            <a class="page-link">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
{% endblock%}