{%extends 'base.html'%}

{%block content%}
<main class="container min-vh-100" style="justify-content: center; align-content: center;">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form method="POST" class="card card-body card-body-bg" style="background-color:#1848a1 ;">
                <h1 class="text-center mb-3 text-light">Login</h1>
                <label class="text-center" style="color: #ff3131;"> {{error}}</label>
                {% csrf_token %}

                <div class="mb-3">
                    <label class="text-light" for="username"> Username: </label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username..."
                        style="background-color: #b4b4b4; border-color: transparent;" required>
                </div>

                <div class="mb-3">
                    <label class="text-light" for="[password]"> Password: </label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password..."
                        style="background-color: #b4b4b4; border-color: transparent;" required>
                </div>
                <div class="text-center" class="text-dark">
                    <button class="btn text-dark" style="background-color: #b4b4b4;"><b>Login</b></button>
                </div>
                <div class="text-center mt-2">
                    <a href="{%url 'signup'%}" class="text-light">Sign Up Today!</a>
                </div>
            </form>

        </div>
    </div>
</main>

{% endblock%}