{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <div class="card shadow border-0">
        <div class="card-header">Nueva Venta</div>
        <div class="card-body" style="background-color: #f8f9faa5;">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    <a href="{% url 'sales' %}" class="btn btn-outline-secondary">Cancelar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
